.page {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.pokemon__section {
  margin: auto ;
  width: 80%;
  /* position: absolute;
  z-index: 1; */

  display: flex;
  flex-direction: column;
  /* justify-items: flex-end; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.pokemon__change-view{
  margin: 50px auto 0;
}

.pokemon__generation-selector {
  box-sizing: border-box;
  margin: 10px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.pokemon__generation_button {
  padding: 10px;
  margin: 25px 10px 0 0;
}




.pokemon__note{
  margin: 50px auto 0;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: crimson;
}


.pokemon__dropdown {
  display: grid;
  margin: auto;
  grid-template-columns: 200px;
  margin-top: 50px;

}

.pokemon__dropdown_button {
  margin: 0;
  padding: 10px;
  text-transform: capitalize;
}

.pokemon__dropdown_list {
  display: none;
  padding: 0;
  border: 1px black solid;
  margin: 40px auto 0;
  font-weight: bold;
  width: 199px;
  height: 500px;
  overflow: auto;
  text-align: left;
  position: absolute;
 z-index: 1;

}

.pokemon__option {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.pokemon__option:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.pokemon__option_name {
  padding-left: 5px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: capitalize;
}













.pokemon__cards-list{
	margin: 0;
	display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

}


.pokemon__card{
	display: flex;
	flex-direction: column;
	align-items:center;
	margin: 0 auto 25px;
	max-width: 150px;
	max-height: 150px;
}

.pokemon__card:hover{
	cursor: pointer;
}


.pokemon__card_image{
	max-width: 100%;
	max-height: 100%;
}

.pokemon__card_name{
	font-weight: bold;
	text-transform: capitalize;
}








































.pokemon__popup {
  /* margin: 50px auto 0; */
  /* display: none; */
  width: 420px;
  min-height: 590px;
  border-radius: 5%;
  background-color: white;
  background-image: url("../blank-templates/normal-blank.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: contain;
  /* 
  z-index: 0;
   */
   position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);

}



.pokemon__background-card{
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* position: relative;
  z-index: -10; */

  position: fixed;
  z-index: 0;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}


.pokemon__popup_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pokemon__popup_evolution{
  max-width: 96px;
  position: absolute;
  left:0px;
  top:17px;

}
.pokemon__popup_image {
  /* width: 57%; */
  width: 350px;
  height: 250px;
}

.pokemon__popup_name {
  box-sizing: border-box;
  margin: 20px 0;
  width: 100%;
  align-self: flex-start;
  padding-left: 25%;
  /* line-height: 3; */
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
}

.pokemon__popup_descriptors {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.pokemon__popup_descriptor {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 11.5px;
}

.pokemon__popup_moves {
  width: 80%;
  margin: 28px 0 58px 0;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.pokemon__popup_move_text {
  padding: 0;
  margin: 25px 0 0 0;
}

.pokemon__popup_container_flavor-text {
  max-width: 30%;
  height: 50px;
  margin-right: 15.5%;
  text-align: left;
  align-self: flex-end;
  font-size: 50%;
}

.pokemon__popup_flavor-text {
  padding: 0;
  margin: 0;
}

.popup_visible {
  display: flex;
  flex-direction: column;
  align-items: center;
}





.loading-animation-container {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
}
.loading-animation {
  margin: auto;
  width: 100px;
  height: 100px;
  align-self: center;

  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.visible {
  display: flex;
  flex-direction: column;
}

.button_active {
  background-color: darkolivegreen;
  color: white;
}

.is_visible{
  display: block;
}
.is_not_visible{
  display: none;
}